/* 改变主题色变量 */
$--color-primary: #2E5BFF;

$--color-warning: #F7B26B;

$--color-danger: #EF3434;

$--color-success: #0ABD9E;
//-------深色字默认颜色-------
$--color-font-primary: #2E384D;
// 印章文字字体
@font-face{
  font-family: 'yzword';
  src: url('../assets/font/方正书宋简体.ttf') format('truetype');
  font-weight: normal;
}
// 手写字体
@font-face{
  font-family: 'sxzt0';
  src: url('../assets/font/font0.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt1';
  src: url('../assets/font/font1.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt2';
  src: url('../assets/font/font2.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt3';
  src: url('../assets/font/font3.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt4';
  src: url('../assets/font/font4.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt5';
  src: url('../assets/font/font5.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'sxzt6';
  src: url('../assets/font/font6.otf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'cusCaoshu';
  src: url('../assets/font/思雨聪聪草书体.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: 'cusXingshu';
  src: url('../assets/font/黄彦文行书字体.ttf') format('truetype');
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html{
  font-size: 625%;
}
body{
  font-size: 12px;
}

.flex-row{display: flex;flex-direction: row;}
.flex-row-reverse{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-reverse{display: flex;flex-direction: column-reverse;}
.flex-jst-start{justify-content: flex-start;}
.flex-jst-end{justify-content: flex-end;}
.flex-jst-center{justify-content: center;}
.flex-jst-btw{justify-content: space-between;}
.flex-jst-ard{justify-content: space-around;}
.flex-ali-start{align-items: flex-start;}
.flex-ali-end{align-items: flex-end;}
.flex-ali-center{align-items: center;}
.flex-ali-base{align-items: baseline;}
.self-stretch{align-self: stretch;}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}

// -------滚动条美化---------
.el-drawer__body{
  overflow-y: scroll;
  width: calc(100% + 17px);
}
.beauty-Scroll{
  .el-scrollbar{
      height: 100%; /*此处一定要设置高度，不然内层的计算属性不生效*/
  }
  .el-scrollbar__wrap {
      width: calc(100% + 17px); /*将垂直滚动条挤到可视区域之外*/
      height: calc(100% + 17px); /*将水平滚动条挤到可视区域之外*/
  }
}

.el-menu{
  border-right: none;
  .menu-item-container.is-active{
    .cus-sub-menu{
      color: $--color-primary;
    }
  }
  .cus-menu-item.is-active{
    background: #ecf3ff;
    border-left: 4px solid $--color-primary;
  }
}
